<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingTodoContext"
         connectionString="Server=25854e00-b604-437d-b191-a2a2016299cf.sqlserver.sequelizer.com;Database=db25854e00b604437db191a2a2016299cf;User ID=tldeqyinrjmpdvbh;Password=pq7jSeqWy88Rs3RS4kqA67qFZyCrt8safCrGmyRPktTM8JnVLTR5GJtqazssJ7Bz;" />
  </connectionStrings>
</configuration>